<div class='row'>
  <div class='col-xs-12'>
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm"(ngSubmit)="registrationForm.valid && submitRegistration(registrationForm.value)" novalidate>

      <fieldset class="form-group">
        <label id="dob">Date of Birth</label>
        <input type="text" class="form-control" placeholder="Date of Birth" formControlName="dob">
        <div class='form-text error' *ngIf="registrationForm.controls.dob.touched">
          <div *ngIf="registrationForm.controls.dob.hasError('required')">Date of birth is required.</div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label id="e-mail">E-Mail</label>
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
        <div class="form-text error" *ngIf="registrationForm.controls.email.touched">
          <div *ngIf="registrationForm.controls.email.hasError('required')">Email is required.</div>
          <div *ngIf="registrationForm.controls.email.hasError('invalidEmail')">Email is invalid.</div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label id="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" minlength='6' formControlName="password">
        <div class='form-text error' *ngIf="registrationForm.controls.password.touched">
          <div *ngIf="registrationForm.controls.password.hasError('required')">Password is required.</div>
          <div *ngIf="registrationForm.controls.password.hasError('minlength')">Password isn't long enough.</div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label id="first-name">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
        <div class='form-text error' *ngIf='registrationForm.controls.firstName.touched'>
          <div *ngIf="registrationForm.controls.firstName.hasError('required')">First name is required.</div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <label id="last-name">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
        <div class='form-text error' *ngIf='registrationForm.controls.lastName.touched'>
          <div *ngIf="registrationForm.controls.lastName.hasError('required')">Last name is required.</div>
        </div>
      </fieldset>

      <button class='btn btn-primary' type='submit' [disabled]='!registrationForm.valid'>Submit Registration Form</button>
    </form>
    <pre>{{registrationForm.value | json}}</pre>
  </div>
</div>
